<header class="masthead">

    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">

        <div class="d-flex justify-content-center">

            <div class="text-center">

                <a class="navbar-item">

                    <img src="assets/wimg.png">

                </a>

                <h2 >Welcome to the Homepage !!</h2>

                <button class="btn btn-outline-primary"(click)="onButtonClick()">EmployeeList</button>

                

            </div>

        </div>

    </div>

</header>